{% extends "layout.html.twig" %}

{% block body %}
<h3>Création de{% if nbBillet > 1 %} vos billets{% else %} votre billet{% endif %} - {% if demiJour == 'true' %}Demi-journée - A partir de 14H {% else %} Journée {% endif %} - Etape 2 - Billet restant : {{ nbBillet }}</h3>

    <div class="well">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            
    {{ form_errors(form) }}
            
    <!-- Champs Tarif Réduit -->
    <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.tarifReduit, "Option tarif réduit : ", {'label_attr': {'class': 'col-md-2 control-label'}}) }}

      {{ form_errors(form.tarifReduit) }}

      <div class="col-md-4">
        {{ form_widget(form.tarifReduit) }}
      </div>
    </div>
    <!-- Champs Date de Naissance -->
    <div class="form-group">
      {{ form_label(form.dateNaissance, "Date de naissance : ", {'label_attr': {'class': 'col-md-2 control-label'}}) }}

      {{ form_errors(form.dateNaissance) }}

      <div class="col-md-4">
        {{ form_widget(form.dateNaissance) }}
      </div>
    </div>
    <!-- Champs De Nom -->
    <div class="form-group">
      {{ form_label(form.nom, "Nom de famille : ", {'label_attr': {'class': 'col-md-2 control-label'}}) }}

      {{ form_errors(form.nom) }}

      <div class="col-md-4">
        {{ form_widget(form.nom) }}
      </div>
    </div>
    <!-- Champs De Prénom -->
    <div class="form-group">
      {{ form_label(form.prenom, "Prénom : ", {'label_attr': {'class': 'col-md-2 control-label'}}) }}

      {{ form_errors(form.prenom) }}

      <div class="col-md-4">
        {{ form_widget(form.prenom) }}
      </div>
    </div>
    <!-- Champs De eMail -->
    <div class="form-group">
      {{ form_label(form.email, "E-mail : ", {'label_attr': {'class': 'col-md-2 control-label'}}) }}

      {{ form_errors(form.email) }}

      <div class="col-sm-4">
        {{ form_widget(form.email) }}
      </div>
    </div>
    <!-- Champs De Pays -->
    <div class="form-group">
      {{ form_label(form.pays, "Pays : ", {'label_attr': {'class': 'col-md-2 control-label'}}) }}

      {{ form_errors(form.pays) }}

      <div class="col-md-4">
        {{ form_widget(form.pays) }}
      </div>
    </div>
  {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
  {{ form_widget(form.Enregistrer, {'attr': {'class': 'col-md-offset-2 btn btn-primary'}}) }}

  {# Génération automatique des champs pas encore écrits.
     Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
     et tous les champs cachés (type « hidden »). #}
  {{ form_rest(form) }}
  
  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}
    </div> 
{% endblock %}