{% extends "layout.html.twig" %}

{% block body %}
    <h3>Panier : </h3>
    <table class="table-striped table-bordered table-responsive">
        <tbody>
            <tr>
                <th>Prénom</th>  
                <th>Nom</th>  
                <th>Date de la réservation</th>
                <th>Demi-Journée</th>
            </tr>
            {% for billet in panier %}
                <tr>
                            
                    {# Prénom du client #}       
                    <td>{{ billet.prenom }}</td>
                            
                    {# Nom du client #}        
                    <td>{{ billet.nom }}</td>
                            
                    {# La date de la réservation #}  
                    <td>{{ billet.dateReservation|date('d/m/Y') }}</td>
                            
                    {# Demi Journée #}       
                    <td>{% if billet.demiJour == true %}
                            Oui
                        {% else %}
                            Non
                        {% endif %}
                    </td>
                    {# Bouton supprimer #}
                    <td><button id="{{ billet.codeUnique }}" onclick="deleteThis({{ billet.id }});" class="btn btn-danger">Supprimer</button></td>
                            
                </tr>
            {% endfor %}   
        </tbody>
    </table>
{% endblock %}